OPENAI_APIKEY="your openai api key"
GOOGLE_APIKEY="your google api key"
AZURE_OPENAI_API_KEY="your azure api key"
AZURE_OPENAI_ENDPOINT="https://<your-endpoint>.openai.azure.com/"
GROQ_APIKEY= "your groq key"