beautifulsoup4==4.12.3
burr==0.24.0
free_proxy==1.1.1
google==3.0.0
graphviz==0.20.3
html2text==2024.2.26
langchain==0.2.10
langchain_anthropic==0.1.20
langchain_aws==0.1.11
langchain_community==0.2.9
langchain_core==0.2.22
langchain_fireworks==0.1.5
langchain_google_genai==1.0.7
langchain_google_vertexai==1.0.6
langchain_groq==0.1.6
langchain_openai==0.1.17
minify_html==0.15.0
pandas==2.2.2
playwright==1.43.0
pydantic==2.8.2
Requests==2.32.3
semchunk==2.2.0
tiktoken==0.7.0
tqdm==4.66.4
undetected_playwright==0.3.0
